/*
    ORIGINAL COLOR PALLETTE 
        --body_background_color: white;
        --header_border_bottom_color: black;
        --header_background_color: white;
        --circle_container_border_bottom_color: black;
        --circle_border_style: solid;
        --vertical_line_background_color: black;
        --horizontal_line_background_color: black;
        --circle_border_color: black;
        --plane_border_top_background_color: black;
        --plane_background_color: white;
        --footer_background_color: black;
        --main_font_color: #fff;
 */
:root{
    --body_background_color: #061831;
    --header_border_bottom_color: #00ffdc;
    --header_background_color: #061831;
    --circle_container_border_bottom_color: #00ffdc;
    --circle_border_style: dashed;
    --vertical_line_background_color: #00ffdc;
    --horizontal_line_background_color: #00ffdc;
    --circle_border_color: #00ffdc;
    --plane_border_top_background_color: #00ffdc;
    --plane_background_color: #061831;
    --footer_background_color: black;
    --main_font_color: #00ffdc;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 400;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--body_background_color);
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
h1, p, li{
    color: var(--main_font_color);
    mix-blend-mode: difference;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--header_border_bottom_color);
    display: flex;
    justify-content: center;
    background-color: var(--header_background_color);
}
.header_container{
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.circle__container{
    position: relative;
    top: 50px;
    height: calc(100vh - 100px);
    width: 100%;
    border-bottom: 1px solid var(--circle_container_border_bottom_color);
}

.vertical__line{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: var(--vertical_line_background_color);
    opacity: .4;
}

.horizontal__line{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: var(--horizontal_line_background_color);
    opacity: .4;
}


.circle__container__inner{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    max-width: 1200px;
}

.circle{
    position: absolute;
    transform-origin: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32vh;
    height: 32vh;
    border: 1px var(--circle_border_style) var(--circle_border_color);
    border-radius: 50%;
    will-change: transform;
}


.sticky__section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plane{
    border-top: 1px solid var(--plane_border_top_background_color);
    display: flex;
    justify-content: center;
    background-color: var(--plane_background_color);
}

.plane__one{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.plane__two{
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 2;
}


.plane__three{
    position: sticky;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    z-index: 2;
}

.container{
    width: 90%;
    height: 100vh;
    max-width: 1200px;
    padding-top: .8rem;
}


.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--footer_background_color);
}








