@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pw_container{
    background-color: rgb(46,12,80);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.pw_header{
    padding: 1rem;
}

.pw{
    width:100%;
    height: 70px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    position: relative;
    font-size:2rem;
    padding: 1rem;
}

.pw button{
    background-color: white;
    color: rgb(29,2,56);
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button{
    opacity: 1;
    transform: translate(0, -100%);
}

.pw_body{
    padding: 0 1rem 1rem;
}

.form_control{
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.generate{
    background-color: #ecb602;
    color: rebeccapurple;
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    width: 100%;
}
